
.explorer-button{
    background-color: #eaee05d0; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: 2px solid #eaee0593; /* Borda da mesma cor que o fundo */
    border-radius: 30px; /* Bordas arredondadas */
    font-size: 18px; /* Tamanho do texto */
    font-weight: bold; /* Deixar o texto em negrito */
    text-transform: uppercase; /* Deixar o texto todo em maiúsculas */
    text-align: center; /* Centralizar o texto */
    text-decoration: none; /* Remover sublinhado */
}
.explorer-button:hover {
    background-color: #fbff08dc; /* Muda a cor de fundo ao passar o mouse */
    color: #ffffff; /* Muda a cor do texto ao passar o mouse */
    border: 2px solid #eaee05d0; /* Manter a borda ao passar o mouse */
    cursor: pointer; /* Mudar o cursor para "pointer" */
    box-shadow: 4px 0px 15px 5px rgba(255, 254, 254, 0.2); /* Sombra ao passar o mouse */
    text-decoration: none; /* Remover sublinhado */

}

h1{
    width: 250px;
    height: auto;
}
h2{
    text-align: right;
    
}

img{
    width: 250px;
    height: auto;
}

header {
    margin-bottom: 20px;
}

.carousel-item img {
    width: 100%;  /* Faz com que as imagens ocupem 100% da largura do carrossel */
    height: 400px;  /* Ajusta a altura das imagens */
    object-fit: cover;  /* As imagens vão se ajustar, cobrindo o carrossel sem distorção */
}

.carousel-item {
    background-color: #351242; /* Cor de fundo do slide */
    height: auto;
    width: auto;
    
}

.carousel-control-prev,
.carousel-control-next {
    padding: 20px;
    background-color: rgba(236, 236, 199, 0);
    
}


.carousel {
    width: 60%;  /* Altera a largura do carrossel, por exemplo, 100% do contêiner */
    height: 400px;  /* Define a altura desejada para o carrossel */
    margin: 0 auto;  /* Centraliza o carrossel horizontalmente */
}

.carousel-slide {
    display: none;
    text-align: center;
}

.description {
    background-color: rgba(0, 0, 0, 0.7);  /* Fundo semi-transparente */
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}


hr {
    border: none;          /* Remove a borda padrão */
    height: 2px;          /* Define a altura da linha */
    background-color: #000; /* Cor da linha */
    margin: 20px 0;       /* Espaço acima e abaixo da linha */
}

.carousel-indicators button {
    background-color: #b8cbe0; /* Muda a cor dos indicadores */
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente para o texto */
    padding: 15px;
}